<div class="jumbotron">
  <div class="container">
    <div class="center">
      <h1>Startup Name</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

    <br/>
     
     <a class="btn btn-lg btn-danger" href="#" role="button">Sign up today</a>
    
     <br/>
     <br/>
     <p>play video <i class="fa fa-video-camera fa-lg"></i></p>

    </div>
  </div>
</div>






