/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
 
 @import url(//fonts.googleapis.com/css?family=Raleway:400,200,600,700,800,500,300,100);
 @import "bootstrap-sprockets";
 @import "bootstrap";


.jumbotron {
  font-family: 'Raleway';
  height: 400px;
  margin: 0px;
  text-align: center;
  background-color: white;


  .btn {
  font-size: 24px;
}
}


#what {
  font-family: 'Raleway';
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  background-color: #f5f5f5;
 
}

#team {
  font-family: 'Raleway';
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;

}

#featured {

  font-family: 'Raleway';
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;

}

  
hr {
  border-top: 1px solid black;
  width: 160px;
  margin-top: 15px;
}

#footer {

   .follow-us-container

    {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .follow-us

    {
        font-size: 32px;
        color: #777;
    }

    .social-icon

    {
        padding-top: 6px;
        font-size: 16px;
        text-align: center;
        width: 32px;
        height: 32px;
        border: 2px solid #777;
        border-radius: 50%;
        color: #777;
        margin: 5px;
    }

    a.social-icon:hover, a.social-icon:active, a.social-icon:focus

    {
        text-decoration: none;
        color: #434343;
        border-color: #434343;
    }

}






